body {
  background: url(../public/weather2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  margin: 0 10px 0 10px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 5px 10px 8px #888888;
  background: rgba(0, 0, 0, 0.5);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: antiquewhite;
  font-size: 25px;
  font-weight: bold;
}


@media (min-width: 913px) {
  nav {
    margin: 0 15% 0 15%;
  }
}
